*{
    font-family: sans-serif;
    font-weight: bold;
}

body{
    margin: 0px;
    padding: 0px;
    height: 800px;
    width: 100%;
    background-image: url('https://cdn.wallpapersafari.com/96/73/EL7Toy.jpg');
    background-repeat: no-repeat;
}

div#container{
    background-color: rgba(0, 0, 0, 0.8);
    width: 750px;
    height: 750px;
    border-radius: 20px;

    /* center */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img#cat-image{
    object-fit: contain;
    height: 500px;
    width: 500px;
    margin: auto;
    display: block;
    border-radius: 1em;
}

p#fact-text{
    color: white;
    text-align: center;
    font-size: 25px;
}

button#new-fact{
    padding: 10px;
    margin: auto;
    display: block;
    color: white;
    background-color: grey;
    font-size: 20px;
    border-radius: 5px;
    border-color: grey;
}